#member-index {
  .member-container {
    .carousel {
      .carousel-inner .item img {
        width: 400px;
        height: 500px;
        margin: auto;
      }
    }
  }
}
#game-index {
  #freewall-container {
    .item {
      float: left;
      overflow: hidden;
      img {
        width: 100%;
        margin: 0;
        display: block;
      }
    }
  }
}
#game-item {
  .row {
    width: 800px;
    margin: auto;
    * {
      text-align: center;
    }
  }
}